<!DOCTYPE html>
<html>
<head>
  <title>Mad Pibs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div>
      Mad Pibs
    </div>
    <div>
      Blurting Out Funny Stories Ever Since 2016
    </div>
    <div>
      Play
    </div>
  </header>
<%= yield %>

</body>
</html>
